

<%= link_to("ajouter un resto ?", new_restaurant_path) %>

<h3>Liste des restos </h3>
<% @restaurants.each do |restaurant| %>
<ol>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <%= link_to("modify?", edit_restaurant_path(restaurant)) %>
  <%= link_to("lache ton comm", new_restaurant_review_path(restaurant)) %>

  <%= link_to "Delete", restaurant_path(restaurant),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
</ol>
<% end %>
